
@{
    ViewBag.Title = "VisitPlanDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<h2 class="container-md">LỊCH SỬ VIẾNG THĂM</h2>

<div class="card container-md">
    <div class="row">
        <h4>Visit Local Supermarket <small class="text-end position-absolute top-0 end-0">21/12/2022</small></h4>
        <p>Requested by Sale Sup 1 <strong class="text-end position-absolute top-0 end-0 text-success mt-4">Visited</strong><p>
    </div>
    <strong>Mục đích viếng thăm</strong>
    <p>Tham quan cách làm việc của cơ quan nhà máy</p>
    <strong>Danh sách người đi cùng</strong>
    <div class="row">
        <div class="accordion mt-3 mb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <ul class="d-flex">
                            <li class="d-flex mx-3">Nguyễn Văn A</li>
                            <li class="d-flex mx-3">Nguyễn Văn A</li>
                            <li class="d-flex mx-3">Nguyễn Văn A</li>
                            <li class="d-flex mx-3">Nguyễn Văn A</li>
                        </ul>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="d-block">
                            <li class="d-flex mt-3">Nguyễn Văn A</li>
                            <li class="d-flex mt-3">Nguyễn Văn A</li>
                            <li class="d-flex mt-3">Nguyễn Văn A</li>
                            <li class="d-flex mt-3">Nguyễn Văn A</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card container-md mt-4">
    <h4>Danh sách task</h4>
    <div class="row ms-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">#111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
</svg></h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                #111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ms-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                #111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                #111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ms-5">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                #111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                #111Lorem ipsum <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success position-absolute end-0" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </h5>
                            <p class="card-text">Hoàng Văn phát</p>
                            <p class="card-text text-opacity-50"><small class="text-muted">21/12/2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-3">
        <a href="@Url.Action("Create", "CreateTask")" class="btn btn-sm btn-primary px-5 rounded-pill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
</svg> THÊM TASK CON</a>
    </div>
</div>